@charset 'UTF-8';

/* 公用样式 */
html,body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
a:link,
a:valid,
a:hover,
a:active{
    text-decoration: none;
}


/* 登录页面 */
.login_bg{
    background-color: #222d32;
}
.mt_login{
    margin-top: 150px;
}
/* 首页 */
.lt_aside{
    width: 180px;
    height: 100%;
    background-color: #222d32;
    position: absolute;
}
.lt_aside .brand a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #367fa9;
    color: #ffffff;
    font-size: 20px;
}
.lt_aside .user img{
    width: 100px;
    border-radius: 50%;
    margin: 15px auto 0;
    display: block;
}
.lt_aside .user p{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
.lt_aside .nav li a{
    border: 3px solid transparent;
}
.lt_aside .nav li a.now{
    border-left-color: #3c8dbc;
    background-color: #1d1f21;
}
.lt_aside .nav li a{
    color: #aaa;
    line-height: 40px;
    display: block;
    padding-left:40px; 
}
.lt_aside .nav li .child a{
    display: block;
    line-height: 40px;
    height: 40px;
    padding-left: 60px;
}
.lt_main{
    padding-left: 180px;
    height: 100%;
}
.lt_main .topbar{
    height: 50px;
    background-color: #3c8dbc;
    padding: 0 20px;
    line-height: 50px;
    margin-bottom: 20px;
}
.lt_main .topbar a{
    color: #ffffff;
    font-size: 16px;
}
.lt_main .breadcrumb 